.baseLayout {
  height: 100vh;

  .baseHeader {
    display: flex;
    align-items: center;
    color: #fff;

    :global {
      span {
        height: 24px;
        margin-left: 8px;
        line-height: 24px;
        font-size: 18px;
      }
    }
  }

  .baseContent {
    background-color: #fff;
  }
}