<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .tabs {

    }
    .tabs .tabs-nav {
      display: flex;
      border-bottom: 1px solid rgba(5,5,5, 0.06);
    }

    .tabs .tabs-nav .tabs-nav-item {
      outline: 1px solid #000;
      transition: .2s;
    }

    .tabs .tabs-nav .tabs-nav-item:not(last-child) {
      margin-right: 32px;
      padding: 12px 0;
      cursor: pointer;
    }

    .tabs .tabs-nav .tabs-nav-item:hover {
      color: #4096ff;
    }
  </style>
</head>

<body>
  <div class="tabs">
    <div class="tabs-nav">
      <div class="tabs-nav-item">Tabs 1</div>
      <div class="tabs-nav-item">Tabs 2</div>
      <div id="bar"></div>
    </div>
    <div class="tabs-content">
      <div class="tabs-content-item">Content 1</div>
      <div class="tabs-content-item">Content 2</div>
    </div>
  </div>
</body>
<script>
  const div = document.getElementById('bar');
</script>

</html>